/* RESPONSIVITÉ */
@media (max-width: 1200px) {
  .contenu_a_propos img {
    width: 90%;
    height: auto;
  }

  .serviceimagedisponibilitevideo video {
    width: 90%;
    height: auto;
  }

  .contenusparcours img {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 992px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .competencescontenus,
  .contenusprojets {
    grid-template-columns: 1fr 1fr; /* 2 colonnes */
  }

  .contenusparcours {
    flex-direction: column;
    align-items: center;
  }

  .contenuscontact {
    flex-direction: column;
    align-items: center;
  }

  .formulaire-contact {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .competencescontenus,
  .contenusprojets {
    grid-template-columns: 1fr; /* 1 seule colonne */
  }

  .experience-container {
    flex-direction: column;
    gap: 20px;
  }

  .icone,
  .icone_competence,
  .iconeprojets,
  .iconeparcours,
  .contacter,
  .reseaux {
    flex-direction: column;
    align-items: center;
  }

  .contenu_a_propos {
    flex-direction: column;
    align-items: center;
  }

  .servicevideo {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .entete {
    height: auto;
    padding: 1rem 0.5rem;
  }

  .entete img {
    width: 80px;
    height: 80px;
  }

  nav ul li a {
    font-size: medium;
  }

  .exp-item strong {
    font-size: 1.2rem;
  }

  .exp-item span {
    font-size: 0.8rem;
  }

  .footer p {
    font-size: 16px;
  }
}
